@import "tailwindcss";

:root {
  --background: #e0f7fa;
  --foreground: #333333;
  --card: #161f26;
  --accent: #ffd700;
  --accent-light: #e5c974;
  --text-primary: #ffffff;
  --text-secondary: #c3cbd2;
  --border: #1f2a33;
}

@theme {
  --color-primary: #e0f7fa;
  --color-logo: #7b5e00;
  --color-accent: #ffd700;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
}
.goog-te-gadget {
  color: transparent !important;
}
/* Change the text color */
select.goog-te-combo {
  color: #000 !important;
  border: 1px solid #7b5e00;
  padding: 5px;
  border-radius: 4px;
}

/* Remove the outline on focus */
select.goog-te-combo:focus {
  outline: none;
  border: 1px solid #7b5e00;
}
#google_translate_element a {
  display: none !important;
}
